{{ template "header"}}
<style>

#hw1_card_list [class*=col-], #hw1_stage, .index-video {
  margin-bottom: 0em
}
</style>
<div class="hw1_banner">
    <div class="row banner-container">
        <div id="hw1_stage">
            <div id="hw1_content"
                 class="text-center">
                <div id="hw1_content_real">
                    <div class="hw1_pc">
                        <div style="top: 230px; left: -23%;">
                            <p class="left">
                                <a href="/doc/265"
                                   class="banner-btn">查看购买
                                    <em>&nbsp;</em>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hw1_front"
                 data-big-img="/static/img/bannertop3.jpg"></div>
        </div>
    </div>
</div>
<div class="hw1_banner">
    <div class="row banner-container">
        <div id="hw1_stage">
            <div id="hw1_content"
                 class="text-center">
                <div id="hw1_content_real">
                    <div class="hw1_pc">
                        <div style="top: 230px; left: -23%;">
                            <p class="left">
                                <a href="/doc/266"
                                   class="banner-btn">查看购买
                                    <em>&nbsp;</em>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hw1_front"
                 style="background-image: url('/static/img/bannertop.jpg'); height: 700px; transform: translateY(-61.56px) translateZ(0px);"></div>
        </div>
    </div>
</div>
<div class="hw1_banner">
    <div class="row banner-container">
        <div id="hw1_stage">
            <div id="hw1_content"
                 class="text-center">
                <div id="hw1_content_real">
                    <div class="hw1_pc">
                        <div style="top: 230px; left: -23%;">
                            <p class="left">
                                <a href="/doc/267"
                                   class="banner-btn">查看购买
                                    <em>&nbsp;</em>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hw1_front"
                 style="background-image: url('/static/img/bannertop2.jpg'); height: 700px; transform: translateY(-61.56px) translateZ(0px);"></div>
        </div>
    </div>
</div>
{{template "footer"}}
