{{template "header" .}}

<div class="container"
     style='padding-left: 10em;padding-top: 2em;'>

    <div class="text-indent">
        <style>
            .detail-page .col-sm-8 p {
                text-indent: 2em;
            }
        </style>
        <p>热烈祝贺：</p>
        <p>美华尚医获得广州详能天使轮投资</p>
        <p>
            <img alt=""
                 class="img-responsive center-block"
                 src="/static/img/xieyi.jpg">
        </p>
        <p>
            <img alt=""
                 class="img-responsive center-block"
                 src="/static/img/signing.jpg">
        </p>
        <p>
            <img alt=""
                 class="img-responsive center-block"
                 src="/static/img/corp.jpg">
        </p>
        <div>
            <br>
        </div>
    </div>
</div>
{{template "footer" .}}