{{template "header" .}}
<div class="hw1_banner">
    <div class="row banner-container">
        <div id="hw1_stage">
            <div id="hw1_content"
                 class="text-center">
                <div id="hw1_content_real">
                    <div class="hw1_pc">
                        <div style="top: 230px; left: -23%;">
                            <p class="left">
                              <a href="/doc/{{.XINXI_FIRST.Id}}"
                                   class="banner-btn">了解更多
                                    <em>&nbsp;</em>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hw1_front"
              data-big-img="{{.XINXI_FIRST.Tupian}}">
            </div>
        </div>
    </div>
</div>
<!-- BANNER_END -->
<!-- CARD_BEGIN -->
<div id="hw1_card_list"
     class="lg-container">
    <div class="row">
        <div class="col-sm-6">
            <div class="hw1_multi_img animate-item animate-start transitionend"
                 style="display:block;">
                <div class="hw1_img"
                     style="display:block;">
                    <a href="/dnamylist">
                        <span class="lazy-loaded over">
                            <img class="img-responsive lazy"
                                 width="700"
                                 height="704"
                                 data-original="{{.XINXI_SECOND_LEFT.Tupian}}?h=704&amp;la=zh&amp;w=700"
                                 style="display: block;" />
                        </span>
                    </a>
                </div>
                <div class="hw1_img_subinfo"
                     style="display:block;">
                    <a href="/dnamylist">
                        <div class="hw1_img_wrap">
                            <h3>
                              {{.XINXI_SECOND_LEFT.Biaoti}}
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="hw1_multi_img animate-item animate-start animate-delay-1 transitionend"
                         style="display:block;">
                        <div class="hw1_img"
                             style="display:block;">
                             <a href="/doc/{{.XINXI_SECOND_RIGHT_UP.Id}}">
                                <span class="lazy-loaded over">
                                  <img class="img-responsive lazy"
                                       width="700"
                                       height="242"
                                       data-original="{{.XINXI_SECOND_RIGHT_UP.Tupian}}?h=342&amp;la=zh&amp;w=700"
                                       style="display: block;" />
                                </span>
                            </a>
                        </div>
                        <div class="hw1_img_subinfo"
                             style="display:block;">
                             <a href="/doc/{{.XINXI_SECOND_RIGHT_UP.Id}}">
                                <div class="hw1_img_wrap">
                                    <h3>
                                       {{.XINXI_SECOND_RIGHT_UP.Biaoti}}
                                    </h3>
                                    <p>
                                       {{.XINXI_SECOND_RIGHT_UP.Zhaiyao}}
                                    </p>
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="hw1_multi_img animate-item animate-start animate-delay-2 transitionend"
                         style="display:block;">
                        <div class="hw1_img"
                             style="display:block;">
                            <a href="/doc/{{.XINXI_SECOND_RIGHT_DOWN.Id}}">
                                <span class="lazy-loaded over">
                                    <img class="img-responsive lazy"
                                         width="700"
                                         height="242"
                                         data-original="{{.XINXI_SECOND_RIGHT_DOWN.Tupian}}?h=342&amp;la=zh&amp;w=700"
                                         style="display: block;" />
                                </span>
                            </a>
                        </div>
                        <div class="hw1_img_subinfo"
                             style="display:block;">
                            <a href="/doc/{{.XINXI_SECOND_RIGHT_DOWN.Id}}">
                                <div class="hw1_img_wrap">
                                    <h3>
                                       {{.XINXI_SECOND_RIGHT_DOWN.Biaoti}}
                                    </h3>
                                    <p>
                                       {{.XINXI_SECOND_RIGHT_DOWN.Zhaiyao}}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="hw1_multi_img animate-item animate-start animate-delay-3 transitionend"
                 style="display:block;">
                <div class="hw1_img"
                     style="display:block;">
                    <a href="/doc/{{.XINXI_THIRD_LEFT.Id}}">
                        <span class="lazy-loaded over">
                            <img class="img-responsive lazy"
                                 width="700"
                                 height="342"
                                 data-original="{{.XINXI_THIRD_LEFT.Tupian}}?h=342&amp;la=zh&amp;w=700"
                                 style="display: block;" />
                        </span>
                    </a>
                </div>
                <div class="hw1_img_subinfo"
                     style="display:block;">
                    <a href="/doc/{{.XINXI_THIRD_LEFT.Id}}">
                        <div class="hw1_img_wrap">
                            <h3>
                              {{.XINXI_THIRD_LEFT.Biaoti}}
                            </h3>
                            <p>
                              {{.XINXI_THIRD_LEFT.Zhaiyao}}
                            </p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="hw1_multi_img animate-item animate-start animate-delay-4 transitionend"
                 style="display:block;">
                <div class="hw1_img"
                     style="display:block;">
                    <a href="/doc/{{.XINXI_THIRD_RIGHT.Id}}">
                        <span class="lazy-loaded over">
                            <img class="img-responsive lazy"
                                 width="700"
                                 height="342"
                                 data-original="{{.XINXI_THIRD_RIGHT.Tupian}}?h=342&amp;la=zh&amp;w=700"
                                 style="display: block;" />
                        </span>
                    </a>
                </div>
                <div class="hw1_img_subinfo"
                     style="display:block;">
                    <a href="/doc/{{.XINXI_THIRD_RIGHT.Id}}">
                        <div class="hw1_img_wrap">
                            <h3>
                                {{.XINXI_THIRD_RIGHT.Biaoti}}
                            </h3>
                            <p>
                              {{.XINXI_THIRD_RIGHT.Zhaiyao}}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lt-img-rt-tx index-video">
    <div id="indexmain_2_rptindexvideo_hasVideo_0"
         class="lg-container">
        <div class="index-video-box video_box"
             style="height: 540px;">
                <span class="lazy-loaded over">
                    <img class="lazy"
                         width="1440"
                         height="540"
                         data-original="/static/img/shipin1.jpg?w=720&amp;h=270"
                         style="display: inline;" />
                </span>
            <div class="title">
                <h2>尚德智医，天下无疾</h2>
            </div>
        </div>
    </div>

</div>
<div class="hw1_common_box gray_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>
                    <a href="/wenzhanglist"
                       target="_parent">
                        新闻
                    </a>
                </h2>
                <ul>
                    <li class="clearfix">
                      <a href="/doc/{{.XINWEN_WENZI1.Id}}">
                        {{.XINWEN_WENZI1.Biaoti}}
                        </a>
                        <span class="date">
                          {{date .XINWEN_WENZI1.Shijian "Y-m-d"}}
                        </span>
                    </li>
                    <li class="clearfix">
                      <a href="/doc/{{.XINWEN_WENZI2.Id}}">
                        {{.XINWEN_WENZI2.Biaoti}}
                      </a>
                      <span class="date">
                        {{date .XINWEN_WENZI2.Shijian "Y-m-d"}}
                      </span>
                    </li>
                    <li class="clearfix">
                        <a href="/doc/{{.XINWEN_WENZI3.Id}}">
                        {{.XINWEN_WENZI3.Biaoti}}
                        </a>
                        <span class="date">
                          {{date .XINWEN_WENZI3.Shijian "Y-m-d"}}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="tit-margin">
                          <a href="/doc/{{.XINWEN_TUPIAN1.Id}}">
                                <span class="lazy-loaded over">
                                    <img class="img-responsive lazy"
                                         width="540"
                                         height="237"
                                         data-original="{{.XINWEN_TUPIAN1.Tupian}}?h=237&amp;la=zh&amp;w=540"
                                         style="display: block;" />
                                </span>
                            </a>
                            <h3>
                              <a href="/doc/{{.XINWEN_TUPIAN1.Id}}">
                                   {{.XINWEN_TUPIAN1.Biaoti}}
                                </a>
                            </h3>
                            <p>{{.XINWEN_TUPIAN1.Zhaiyao}}
                                <br>
                               {{.XINWEN_TUPIAN1.Laiyuan}}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tit-margin">
                          <a href="/doc/{{.XINWEN_TUPIAN2.Id}}">
                                <span class="lazy-loaded over">
                                    <img class="img-responsive lazy"
                                         width="539"
                                         height="237"
                                         data-original="{{.XINWEN_TUPIAN2.Tupian}}?h=237&amp;la=zh&amp;w=539"
                                         style="display: block;" />
                                </span>
                            </a>
                            <h3>
                                <a href="/doc/{{.XINWEN_TUPIAN2.Id}}">
                                  {{.XINWEN_TUPIAN2.Biaoti}}
                                </a>
                            </h3>
                            <p>{{.XINWEN_TUPIAN2.Zhaiyao}}
                                <br>
                                {{.XINWEN_TUPIAN2.Laiyuan}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer" .}}
