{{template "header" .}}
<div class="hw1_banner">
    <div class="row banner-container">
        <div id="hw1_stage">
            <div id="hw1_content"
                 class="text-center">
                <div id="hw1_content_real">
                    <div class="hw1_pc">
                        <div style="top: 230px; left: -23%;">
                            <p class="left">
                                <a href="/event"
                                   class="banner-btn">了解更多
                                    <em>&nbsp;</em>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hw1_front"
                 data-big-img="static/img/bannertop.jpg">
            </div>
        </div>
    </div>
</div>
<!-- BANNER_END -->
<!-- CARD_BEGIN -->
<div id="hw1_card_list"
     class="lg-container">
    <div class="row">
        <div class="col-sm-6">
            <div class="hw1_multi_img animate-item animate-start transitionend"
                 style="display:block;">
                <div class="hw1_img"
                     style="display:block;">
                    <a href="/dnamy/0">
                        <span class="lazy-loaded over">
                            <img src="static/img/chanpin.jpg"
                                 class="img-responsive lazy"
                                 width="700"
                                 height="704"
                                 data-original="static/img/chanpin.jpg?h=704&amp;la=zh&amp;w=700"
                                 style="display: block;" />
                        </span>
                    </a>
                </div>
                <div class="hw1_img_subinfo"
                     style="display:block;">
                    <a href="/dnamy/0">
                        <div class="hw1_img_wrap">
                            <h3>
                                迪恩摩因
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="hw1_multi_img animate-item animate-start animate-delay-1 transitionend"
                         style="display:block;">
                        <div class="hw1_img"
                             style="display:block;">
                            <a href="/strategy/2">
                                <span class="lazy-loaded over">
                                    <img src="static/img/yanjiuzhongxin.jpg"
                                         class="img-responsive lazy"
                                         alt=""
                                         width="700"
                                         height="242"
                                         data-original="static/img/yanjiuzhongxin.jpg?h=342&amp;la=zh&amp;w=700"
                                         style="display: block;" />
                                </span>
                            </a>
                        </div>
                        <div class="hw1_img_subinfo"
                             style="display:block;">
                            <a href="/strategy/2">
                                <div class="hw1_img_wrap">
                                    <h3>
                                        医学研究中心
                                    </h3>
                                    <p>专注基因动力学领域，拥有全球强大专家阵容，持续推出前沿科技新品，造福人类。
                                    </p>
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="hw1_multi_img animate-item animate-start animate-delay-2 transitionend"
                         style="display:block;">
                        <div class="hw1_img"
                             style="display:block;">
                            <a href="/base">
                                <span class="lazy-loaded over">
                                    <img src="static/img/jiankangguanlizhongxin.jpg"
                                         class="img-responsive lazy"
                                         alt=""
                                         width="700"
                                         height="242"
                                         data-original="static/img/jiankangguanlizhongxin.jpg?h=342&amp;la=zh&amp;w=700"
                                         style="display: block;" />
                                </span>
                            </a>
                        </div>
                        <div class="hw1_img_subinfo"
                             style="display:block;">
                            <a href="/base">
                                <div class="hw1_img_wrap">
                                    <h3>
                                        健康管理中心
                                    </h3>
                                    <p>为产品使用客户与合作伙伴，提供快捷贴心的咨询、售后以及健康协助等服务。
                                    </p>
                                </div>
                            </a>
                        </div>
                        <section class="">
                            <div class=""></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="hw1_multi_img animate-item animate-start animate-delay-3 transitionend"
                 style="display:block;">
                <div class="hw1_img"
                     style="display:block;">
                    <a href="/base">
                        <span class="lazy-loaded over">
                            <img src="static/img/shumayixue.jpg"
                                 class="img-responsive lazy"
                                 alt=""
                                 width="700"
                                 height="342"
                                 data-original="static/img/shumayixue.jpg?h=342&amp;la=zh&amp;w=700"
                                 style="display: block;" />
                        </span>
                    </a>
                </div>
                <div class="hw1_img_subinfo"
                     style="display:block;">
                    <a href="/base">
                        <div class="hw1_img_wrap">
                            <h3>
                                数码医学，开启智慧医疗新篇章
                            </h3>
                            <p>运用数码科技，让传统医学更精准，效率更高，造福更多病患人群。
                            </p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="hw1_multi_img animate-item animate-start animate-delay-4 transitionend"
                 style="display:block;">
                <div class="hw1_img"
                     style="display:block;">
                    <a href="/base">
                        <span class="lazy-loaded over">
                            <img src="static/img/shujuzhongxin.jpg"
                                 class="img-responsive lazy"
                                 alt=""
                                 width="700"
                                 height="342"
                                 data-original="static/img/shujuzhongxin.jpg?h=342&amp;la=zh&amp;w=700"
                                 style="display: block;" />
                        </span>
                    </a>
                </div>
                <div class="hw1_img_subinfo"
                     style="display:block;">
                    <a href="/event">
                        <div class="hw1_img_wrap">
                            <h3>
                                数据AI平台
                            </h3>
                            <p>通过互联网与智能化科技，系统智能管理客户数据与服务流程，使用便捷省心。</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lt-img-rt-tx index-video">
    <div id="indexmain_2_rptindexvideo_hasVideo_0"
         class="lg-container">
        <div class="index-video-box video_box"
             style="height: 540px;">
                <span class="lazy-loaded over">
                    <img src="static/img/hw1_index_video2.jpg"
                         class="lazy"
                         alt=""
                         width="1440"
                         height="540"
                         data-original="static/img/hw1_index_video2.jpg?w=720&amp;h=270"
                         style="display: inline;" />
                </span>
            <div class="title">
                <h2>尚德智医，天下无疾</h2>
                <a href="javascript:void(0)"
                   class="close">
                </a>
            </div>
            <a data-video-path="static/img/Building_a_Better_Connected_World_201620160905.mp4"
               data-video-path-mobile="static/img/Building_a_Better_Connected_World_201620160905.mp4"
               data-video-name="static/img/Building_a_Better_Connected_World_201620160905"
               data-player-autostart="1"
               href="/"
               id="player100"
               data-img-path="static/img/hw1_index_video2.jpg"
               class="js_video_player">
            </a>
        </div>
    </div>

</div>
<div class="hw1_common_box gray_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>
                    <a href="/base"
                       target="_parent">
                        新闻
                    </a>
                </h2>
                <ul>
                    <li class="clearfix">
                        <a href="/event">
                            美华获得深圳某知名企业天使轮投资数千万
                        </a>
                        <span class="date">
                            2017-05-02
                        </span>
                    </li>
                    <li class="clearfix">
                        <a href="/event">
                            美华入住四川天府生命科技园
                        </a>
                        <span class="date">
                            2017-04-27
                        </span>
                    </li>
                    <li class="clearfix">
                        <a href="/event">
                            数码医学引领医学新篇章--迪恩摩音2.0
                        </a>
                        <span class="date">
                            2017-04-27
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="tit-margin">
                            <a href="/event">
                                <span class="lazy-loaded over">
                                    <img src="static/img/air_conew2.jpg"
                                         class="img-responsive lazy"
                                         alt=""
                                         width="540"
                                         height="237"
                                         data-original="static/img/air_conew2.jpg?h=237&amp;la=zh&amp;w=540"
                                         style="display: block;" />
                                </span>
                            </a>
                            <h3>
                                <a href="/event">
                                    参加中国创新创业展会
                                </a>
                            </h3>
                            <p>新ICT，迈向航空数字化转型之路
                                <br>
                                阿联酋，迪拜 5月15日–17日
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tit-margin">
                            <a href="/event">
                                <span class="lazy-loaded over">
                                    <img src="/static/img/finance_conew.jpg"
                                         class="img-responsive lazy"
                                         alt=""
                                         width="539"
                                         height="237"
                                         data-original="/static/img/finance_conew.jpg?h=237&amp;la=zh&amp;w=539"
                                         style="display: block;" />
                                </span>
                            </a>
                            <h3>
                                <a href="/event">
                                    2017华为全球金融峰会
                                </a>
                            </h3>
                            <p>新ICT，加速数字化银行转型
                                <br>
                                中国，北京 5月23日
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer" .}}
