{{ template "header"}}
<style type="text/css">LVHA
a.link:link{color:red;text-decoration:none;font-size:14px;}
a.link:visited{color:blue;text-decoration:none;font-size:14px;}
a.link:active{color:green;text-decoration:none;font-size:14px;}
</style>
<div class='container'
     style='padding-left: 10em;padding-top: 2em;padding-bottom:3em;'>
  <p>请选择操作类型：</p>
  <p><a class='link' href='/base'>增加首页页面并设置跳转时机</a></p>
  <p><a class='link' href='/base'>编辑首页页面</a></p>
  <p><a class='link' href='/base'>增加策略页面并设置跳转时机</a></p>
  <p><a class='link' href='/base'>编辑策略页面</a></p>
  <p><a class='link' href='/base'>增加事件页面并设置跳转时机</a></p>
  <p><a class='link' href='/base'>编辑事件页面</a></p>
  <p><a class='link' href='/base'>增加产品页面并设置跳转时机</a></p>
  <p><a class='link' href='/base'>编辑产品页面</a></p>
  </form>
</div>
{{ template "footer" .}}
