{{ template "header"}}
<style type="text/css">LVHA
a.link:link {
    color: red;
    text-decoration: none;
    font-size: 14px;
}

a.link:visited {
    color: blue;
    text-decoration: none;
    font-size: 14px;
}

a.link:active {
    color: green;
    text-decoration: none;
    font-size: 14px;
}
</style>
<div class='container'
     style='padding-left: 10em;padding-top: 2em;padding-bottom:3em;'>
    <p>请选择操作类型：</p>
    <p>
        <a class='link'
           href='/base'>新增新闻
        </a>
    </p>
    <p>
        <a class='link'
           href='/base'>新增产品
        </a>
    </p>
    <p>
        <a class='link'
           href='/base'>新增事件
        </a>
    </p>
    <p>
        <a class='link'
           href='/base'>新增
        </a>
    </p>
    <p>{{ .jwt }}</p>
    </form>
</div>
{{ template "footer" .}}
