{{ template "header" .}}

<div class="container"
     style='padding-left: 10em;padding-top: 2em;'>

    <div class="row detail-page">
        <div class="col-sm-8">
            <h1>
                {{.News.Title}}
            </h1>
            <h2 class="subtitle">{{.News.Intro}}</h2>
            <div class="video_box">
                <div class="player-outer-box">
                    <a id="details-player"></a>
                </div>
            </div>
            <div class="text-indent">
                <style>
                    .detail-page .col-sm-8 p {
                        text-indent: 2em;
                    }
                </style>
                <p id='str2html'>{{str2html .News.Content}}</p>
                <script>
                  $('#str2html').html($('#str2html').text())
                </script>
                <div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 visible-md visible-lg visible-sm">
    </div>
</div>
{{template "footer" .}}