{{template "header" .}}
<link href="/static/umeditor123/themes/default/css/umeditor.css"
      type="text/css"
      rel="stylesheet">
<script type="text/javascript"
        charset="utf-8"
        src="/static/umeditor123/umeditor.config.js"></script>
<script type="text/javascript"
        charset="utf-8"
        src="/static/umeditor123/umeditor.min.js"></script>
<script type="text/javascript"
        src="/static/umeditor123/lang/zh-cn/zh-cn.js"></script>
<script type = 'text/javascript' src='/static/js/jquery.js'></script>    
<script type="text/javascript"
        src="/static/umeditor123/third-party/jquery.min.js"></script>
<script type="text/javascript"
        src="/static/umeditor123/third-party/template.min.js"></script>
<script type="text/javascript"
        charset="utf-8"
        src="/static/umeditor123/umeditor.config.js"></script>
<script type="text/javascript"
        charset="utf-8"
        src="/static/umeditor123/umeditor.min.js"></script>
<script type="text/javascript"
        src="/static/umeditor123/lang/zh-cn/zh-cn.js"></script>

<div class="container"
     style='padding-left: 10em;padding-top: 2em;padding-bottom:3em;'>
  <div>
    <label>标题&nbsp;&nbsp;&nbsp;:</label>
    <input type='text'    name='Biaoti'    style='width:500px'/>
    <input type='text'    name='Id'    style='display: none;'/>
    <br/>
    <br/>
    <form>
      <label>图片&nbsp;&nbsp;&nbsp;:</label>
      <input type='file' name='upload' onchange='uploadtupian()'/>
    </form>
    <br/>
    <input name='Tupian' style='display:none;width:500px'/>
    <label>摘要&nbsp;&nbsp;&nbsp;:</label>
    <input type='text'               name='Zhaiyao'/>
    <br/>
    <br/>
    <label>关键字:</label>
    <input type='text'               name='Guanjianzi'/>
    <br/>
    <br/>
    <label>发布人:</label>
    <input type='text'               name='Faburen'/>
    <br/>
    <br/>
    <script type="text/plain"
            id="myEditor"

            style="width:100%;height:240px;">
    </script>
    <br/>
    <button type='button'
            onclick='saveEditor()'>保存
    </button>
  </div>
</div>
<script type="text/javascript">
  var um = UM.getEditor('myEditor');
  function uploadtupian(){
    var fd = new FormData($('form')[0]);
    console.log(fd.get("upload"));
    $.ajax({
      url:'/uploadimg',
      type:'POST',
      contentType:false,
      data:fd,
      cache:false,
      processData:false,
      success:function(res){
        console.log(res);
        document.getElementsByName('Tupian')[0].value=res
      },
      error:function(ress){
        console.log(ress)
      }
    });
  }
  function saveEditor() {
    var href = window.location.protocol + "//" + window.location.host;
    var re = new RegExp(href,"g");
    var needContent=um.getContent().replace(re,"");
    var re2 = new RegExp("'","g");
    var tupianjsonstr = document.getElementsByName('Tupian')[0].value.replace(re2,"\"");
    var tupianurl = "";
    if (tupianjsonstr != ""){
      var tupianobj = JSON.parse(tupianjsonstr);
      tupianurl = tupianobj.url;
    }
    $.ajax({
      cache: false,
      type: 'POST',
      url: '/richeditor',
      dataType: 'json',
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", "Bearer " + window.localStorage.getItem("jwt"))
      },
      data: {
        'content': needContent,
        'Biaoti': document.getElementsByName('Biaoti')[0].value,
        'Zhaiyao': document.getElementsByName('Zhaiyao')[0].value,
        'Guanjianzi': document.getElementsByName('Guanjianzi')[0].value,
        'Faburen': document.getElementsByName('Faburen')[0].value,
        'Tupian': tupianurl,
        'editorflag': '{{.editorflag}}',
        'requrl': '{{.requrl}}'//不用引号也行，但格式化的时候会换行
      },
      async: false,
      error: function (xhr, status, error) {
        console.log('req editor error!');
        alert('保存失败，请联系管理员！');
      },
      success: function (res, status, xhr) {
        location.href = "/"+res.content
      }
    });
  }

</script>
{{template "footer" .}}
