{{ template "header"}}
<style type="text/css">LVHA
a.link:link {
    color: red;
    text-decoration: none;
    font-size: 14px;
}

a.link:visited {
    color: blue;
    text-decoration: none;
    font-size: 14px;
}

a.link:active {
    color: green;
    text-decoration: none;
    font-size: 14px;
}
</style>
<div class='container'
     style='padding-left: 10em;padding-top: 2em;padding-bottom:3em;'>
    <p>展示所有的文章列表进行点击展现：</p>
    <p>
        <a class='link'
           href='/doc/368'>event1
        </a>
    </p>
    <p>
        <a class='link'
           href='/doc/370'>event2
        </a>
    </p>
    <p>
        <a class='link'
          href='/doc/371'>event3
        </a>
    </p>
    <p>
        <a class='link'
          href='/doc/373'>event4
        </a>
    </p>
</div>
{{ template "footer" .}}
