{{ template "header"}}
    <link href="/static/css/templatemo_style.css" rel="stylesheet">	
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
<div class='container'
  style='padding-left: 10em;padding-top: 2em;padding-bottom:3em;'>
    <div id="templatemo_upcomming_event" class="container_wapper">
        <div class="container">
            <div class="row">
              {{range .Dnamy}}
                <div class="col-sm-6 col-md-3">
                    <div class="event_box event_animate_left">
                      <a href="/doc/{{.Id}}">
                        <img src="{{.Tupian}}" alt="{{.Biaoti}}" class="img-responsive" />
                        </a>
                        <ul>
                            <li>
                              <span class="glyphicon glyphicon-calendar"></span>{{.Biaoti}}<br />
                            </li>
                            <li>
                              <span class="glyphicon glyphicon-map-marker"></span>{{.Guanjianzi}}<br />
                            </li>
                        </ul>
                    </div>
                </div>
              {{end}}
            </div>
        </div>
    </div>
</div>
{{ template "footer" .}}
