{{ template "header" .}}

<div class="container"
     style='padding-left: 2em;padding-top: 2em;'>

    <div class="row detail-page">
        <div class="col-sm-8">
            <h1>
                {{.wenzhang.Biaoti}}
            </h1>
            <h2 class="subtitle">{{.wenzhang.Zhaiyao}}</h2>
            <div class="text-indent">
                <style>
                    .detail-page .col-sm-8 p {
                        text-indent: 2em;
                    }
                </style>
                <p id='str2html'>{{str2html .wenzhang.Wenben}}</p>
            </div>
        </div>
    </div>
</div>
{{template "footer" .}}
